<% layout('../layout') -%>
<%
function formatDate(duration) {
    var milliseconds = parseInt((duration%1000)/100)
            , seconds = parseInt((duration/1000)%60)
            , minutes = parseInt((duration/(1000*60))%60)
            , hours = parseInt((duration/(1000*60*60)));


        return hours + "h&nbsp;" + minutes + "m&nbsp;" + seconds + "s";
}
%>
<% if (wonItems && wonItems.length > 0) { %>
    <h3>Won items (unsent)</h3>
    <table class='table table-hover table-striped'>
        <thead>
            <tr>
                <th>Item</th>
                <th>Zone</th>
                <th>Points</th>
                <th>Closed</th>
            </tr>
        </thead>
        <tbody>
        <% wonItems.forEach(function(item) { %>
            <tr>
                <td><%= item.name %></td>
                <td><%= item.zone %></td>
                <td><%= item.currentBid.amount %></td>
                <td><%= moment(item.currentBid.endDate).fromNow() %></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
<% } %>

<table class="table pull-right" style="width: 120px">
    <thead>
        <tr><th>Legend</th></tr>
    </thead>
    <tr class="warning"><td>24 hour bid</td></tr>
    <tr class="info"><td>72 hour bid</td></tr>
</table>

<h3>Approved items</h3>

<% if (items) { %>

<table style="background: white;" class="table table-hover table-striped table-fixed-head sortable" data-table-fixed-head-trigger="<%= wonItems && wonItems.length > 0 ? 290 + (wonItems.length * 50) : 140 %>" data-table-fixed-head-top="0">
    <thead>
        <tr>
            <th>Item</th>
            <th>Zone</th>
            <th>Current bid</th>
            <th>Minimum bid</th>
            <th data-disablesort='true'>You can bid</th>
            <th>Ending</th>
            <th data-disablesort='true'>Action</th>
        </tr>
    </thead>
    <tbody>
        <% items.forEach(function(item) { %>
        <tr class='item-<%= item._id %> <%= item.currentBid ? "has-bid" : "no-bid" %> <%= item.date <= moment().subtract(3, "d") ? "warning" : "info" %>'>
            <td><%= item.name %></td>
            <td><%= item.zone %></td>
            <td class='js-bid-currentbid'><%= item.currentBid ? item.currentBid.amount : "N/a" %></td>
            <td class='js-bid-minimumbid'><%= item.minimumBid %></td>
            <td class='js-bid-maximumbid'><%= points[item.zone].available %> (<%= item.zone %>)</td>
            <td data-value="<%= item.currentBid ? moment(item.currentBid.endDate).diff() / 1000 : 9999999 %>" class='js-bid-ending'>
                <%= item.currentBid ? formatDate(moment(item.currentBid.endDate).diff()) : "N/a" %>
            <td>
                <ul style='margin:0;padding:0;list-style:none;'>
                    <li style="float:left;">
                        <button type='button' class="btn btn-info" data-toggle="modal" data-remote="/bid/<%=item._id%>" data-target="#bid">Bid</button>
                        &nbsp;
                    </li>
                </ul>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>

<!--
<nav>
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
-->
<% } %>

<div id="bid" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="loading-spinner" style="width: 90%;margin-left:5%">
            <br />
            <div class="progress progress-striped active">
                <div class="progress-bar" style="width: 100%;"></div>
            </div>
        </div>
    </div>
  </div>
</div>

<% if (itemId) { %>
<script type="text/javascript">
    $(function() {
        $("tr.item-<%= itemId %>").find('button').trigger('click');
    });
</script>
<% } %>

<script type="text/javascript">

    $(function() {
        $('button[data-toggle="modal"]').on('click', function(e) {
            var target = $(e.currentTarget).data('target');
            var remote = $(e.currentTarget).data('remote');
            var modal = $(target);
            var modalBody = $(target + " .modal-content");

            modal.on('show.bs.modal', function() {
                modalBody.load(remote);
                modal.unbind('show.bs.modal');
            }).modal();

            return false;
        });

        $(document.body).on('hidden.bs.modal', function () {
            $('#bid').removeData('bs.modal')
            $("#bid").find(".modal-content").html('<div class="loading-spinner" style="width: 90%;margin-left:5%">' +
                '<br />' +
                '<div class="progress progress-striped active">' +
                    '<div class="progress-bar" style="width: 100%;"></div>' +
                '</div>' +
            '</div>');
        });
    });

    $(".js-place-bid").on('click', function(e) {
        var $this = $(this)
          , loadingBtn = $this.button('loading')
          , itemId = $(".js-item-id").val()
          , bidValue = $(".js-item-bid").val()
          , bidMaximum = $(".js-bid-max").val()
          , bidMinimum = $(".js-bid-min").val()
          , error = false;
        
        if (Number(bidValue) < Number(bidMinimum)) {
            showError($this, "You cannot bid below the minimum bid");
            error = true;
        }


        if (Number(bidValue) > Number(bidMaximum)) {
            showError($this, "You don't have enough points for that");
            error = true;
        }

        if (!error) {
            $.post('/bid/' + itemId, { bid: bidValue }, function(data) {
                if (data.status == "ok") {
                    var currentBid = data.data.currentBid;
                    var previousBids = data.data.previousBids;

                    // rebuild bids list
                    var currentBidHtml = "<li><b>" + currentBid.user.name + " - " + currentBid.amount + "</b></li>";
                    var previousBidsHtml = "";
                    previousBids.reverse().forEach(function(previous) {
                        previousBidsHtml += "<li>" + previous.user.name + " - " + previous.amount + "</li>";
                    });

                    $(".bids").html(currentBidHtml + previousBidsHtml);
                    $(".js-item-bid").val("");
                    $this.button('complete');
                    setTimeout(function() {
                        $this.button('reset');
                    }, 2000);

                    // update parent item
                    updateItem(currentBid, itemId, data.data.minimumBid, data.data.maximumBid, data.data.endDate, data.data.endDate_from);
                } else {
                    // show error
                    showError($this, data.message)
                }
            });
        }
    });

    function updateItem(currentBid, itemId, minimumBid, maximumBid, endDate, endDate_from) {
        $row = $(".item-" + itemId);
        $currentBid = $row.find(".js-bid-currentbid");
        $minimumBid = $row.find(".js-bid-minimumbid");
        $maximumBid = $row.find(".js-bid-maximumbid");
        $ending = $row.find(".ending");
        $currentBid.text(currentBid.amount);
        $minimumBid.text(minimumBid);
        $maximumBid.text(maximumBid);
        $ending.text(endDate + "<br />" + endDate_from);
    }

    function showError($btn, error) {
        $btn.button('failed');
        setTimeout(function() {
            $btn.button('reset');
        }, 2000);
    }
</script>
