<% layout('layout.ejs') -%>

<div class="container">
    <h1>Dashboard</h1>
    <% if (points) { %>
        <h3>Points</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Zone</th>
                <th>Approved</th>
                <th>Unapproved</th>
                <th>Used</th>
            </tr>
            </thead>
            <tbody>
            <% for (var zone in points) { %>
                <tr>
                    <td width="100"><%= zone %></td>
                    <td width="100"><%= points[zone]['approved'] %></td>
                    <td width="100"><%= points[zone]['unapproved'] %></td>
                    <td width="100"><%= points[zone]['used'] %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>

    <% if (items) { %>
        <h3>Items</h3>
        <table width="100%" class="table table-hover">
            <thead>
            <tr>
                <th>Item</th>
                <th>Zone</th>
                <th>State</th>
                <th>Minimum bid</th>
            </tr>
            </thead>
            <tbody>
            <% items.forEach(function(item) { %>
                <tr>
                    <td><%= item.name %></td>
                    <td><%= item.zone %></td>
                    <td><%= item.state == 0 ? "approved" : "unapproved" %>
                    <td><%= item.minimumBid %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    <% } %>

    <% if (runs) { %>
        <h3>Runs</h3>
        <table width="100%" class="table table-hover">
            <thead>
            <tr>
                <th>Zone</th>
                <th>Date</th>
                <th>Leader</th>
                <th>Items</th>
                <th>Players</th>
                <th>State</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <% runs.forEach(function(run) { %>
                <tr>
                    <td><%= run.zone %></td>
                    <td><%= moment(run.date).format("MMM Do, HH:mm") %></td>
                    <td><%= run.leader !== null ? run.leader.name : "N/a" %></td>
                    <td><%= run.items.length %></td>
                    <td><%= run.points.map(function(point) { return point.user !== null ? point.user.name : "N/a" }) %></td>
                    <td><%= run.state == 1 ? "approved" : "unapproved" %></td>
                    <td>
                    <ul>
                        <li><a href="/run/detail/<%=run._id%>">View</a></li>
                        <% if (user.isAdmin) { %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Actions <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="<%= run.state == 1 ? "/run/approve/" + run._id : "/run/unapprove/" + run._id %>">
                                        <%= run.state == 1 ? "Approve" : "Unapprove" %>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#">Edit</a></li>
                                <li><a href="#" class='danger'>Delete</a></li>
                            </ul>
                        </li>
                        <% } %>
                    </ul>
                    </td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    <% } %>
</div>
