<% if (item) { %>
<!-- show the modal -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><%= item.name %> (<%= item.zone %>)</h4>
</div>
<div class="modal-body">
    <div class="bids">
    <% if (item.currentBid) { %>
        <ul>
            <li><b><%= item.currentBid.user.name %> - <%= item.currentBid.amount %></b></li>
            <% if (item.previousBids) { %>
                <% item.previousBids.reverse().forEach(function(previous) { %>
                    <li><%= previous.user.name %> - <%= previous.amount %></li>
                <% }); %>
            <% } %>
        </ul>

    <% } else { %>
        <p>No bids</p>
    <% } %>
    </div>

    <% if (item.minimumBid <= points[item.zone].available) { %>
    <div class="form-group">
        <input type='hidden' class='js-bid-max' value='<%= points[item.zone].available %>' />
        <input type='hidden' class='js-bid-min' value='<%= item.minimumBid %>' />
        <input type='hidden' class='js-item-id' value='<%= item._id %>' />
        <label for="yourBid" class="control-label">Your bid </label>
        <input type="text" class="form-control js-item-bid" id="yourBid" placeholder="<%= item.minimumBid %>" />
        <p class="help-block">
            <b>Minimum</b> bid is <b><%= item.minimumBid %></b> <%= item.minimumBid == 1 ? "point" : "points" %>
        </p>
        <p class="help-block">
            <b>Maximum</b> bid is <b><%= points[item.zone].available %></b> <%= item.minimumBid == 1 ? "point" : "points" %>
        </p>
    </div>
    <% } else { %>
        <p>You don't have enough points to bid</p>
    <% } %>

</div>
<div class="modal-footer">
    <% if (item.minimumBid <= points[item.zone].available) { %>
        <button type="button" class="btn btn-primary btn-info js-place-bid" data-loading-text="Place bid <i class='glyphicon glyphicon-refresh glyphicon-refresh-animate'></i>" data-complete-text="Success <i class='glyphicon glyphicon-ok'></i>" data-failed-text="Failed <i class='glyphicon glyphion-remove'></i>">
            Place bid
        </button>
    <% } %>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

<% } else { %> 

<!-- hide the modal -->
<script type='text/javascript'>
    $('#bid').modal('hide')
</script>

<% } %>