<% layout('../layout') -%>
<h1>Confirm your run
<h2>Info</h2>
<p>Zone: <%= run.zone %></p>
<p>Days: <%= run.days %></p>
<%
var i = 0;
%>
<h2>Players</h2>
<table>
    <thead>
        <tr>
            <th>Player</th>
            <th>Points</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% run.users.forEach(function(user) { %>
        <tr>
            <td><input type='text' name='player[<%= i %>].name' value='<%= user %>' /></td>
            <td><input type='text' name='player[<%= i %>].points' value='<%= run.points %>' /></td>
            <td><a href='javascript:;' class='js-remove-user'>remove</a></td>
        </tr>
        <%
            i++;
        }); %>
    </tbody>
</table>
<%
i = 0;
%>
<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Value</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% run.items.forEach(function(item) { %>
            <tr>
                <td><input type='text' name='item[i].item' value='<%= item %>' /></td>
                <td><input type='text' name='item[i].value' value='1' /></td>
                <td><a href='javascript:;' class='js-remove-item'>remove</a></td>
            </tr>
        <%
            i++;
        }); %>
    </tbody>
</table>
