<% layout('../layout') -%>

<h1>Confirm your new run</h1>

<form action="/run/confirm" method="post">
    <h3>Days and points</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Day</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
        <% run.days.forEach(function(day) { %>
            <tr>
                <td><%= run.zone %> - <%= day.name %></td>
                <td><%= day.amount %></td>
            </tr>
        <% }); %>
        </tbody>
    </table>

    <%
    var i = 0;
    %>
    <h3>Players</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Player</th>
                <th>Points</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% run.users.forEach(function(user) { %>
            <tr class='users'>
                <td>
                    <input type='text' class='form-control user-name' name='user[<%= i %>][name]' value='<%= user %>' />
                </td>
                <td>
                    <input type='text' class='form-control user-points' name='user[<%= i %>][points]' value='<%= run.points %>' />
                </td>
                <td>
                    <a href='javascript:;' class='btn btn-info js-remove-user'>remove</a>
                </td>
            </tr>
            <%
                i++;
            }); %>
        </tbody>
    </table>
    <%
    i = 0;
    %>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Item</th>
                <th>Value</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% run.items.forEach(function(item) { %>
                <tr class='items'>
                    <td>
                        <input type='text' class='form-control item-name' name='item[<%= i %>][name]' value='<%= item %>' />
                    </td>
                    <td>
                        <input type='text' class='form-control item-value' name='item[<%= i %>][value]' value='1' />
                    </td>
                    <td>
                        <a href='javascript:;' data-field='action' class='btn btn-info js-remove-item'>remove</a>
                    </td>
                </tr>
            <%
                i++;
            }); %>
        </tbody>
    </table>

    <button onclick='validate(); return false;'>Create</button>
</form>

<script type='text/javascript'>
    $(function() {
        // bind remove player
        $(".js-remove-user").on('click', function() {
            $(this).parent().parent().remove();
        });

        // bind remove item
        $(".js-remove-item").on('click', function() {
            $(this).parent().parent().remove();
        });
    });

    function validate() {
        var err = [];

        // iterate over all users
        var $users = $(".users");
        $users.each(function(index, $user) {
            var name = $($user).find('.user-name').val();
            var points = $($user).find('.user-points').val();

            // validate the name
            if (name.length == 0) {
                err.push({ element: $user, message: "Player must have a name" });
            }

            // make sure points is a positive number
            if (isNaN(points)) {
                err.push({ element: $user, message: "Points must be a number" });
            } else {
                if (Number(points) < 1) {
                    err.push({ element: $user, message: "Points must be a positive number" });
                }
            }
        });

        // iterate over all items
        var $items = $(".items");

        $items.each(function(index, $item) {
            var name = $($item).find('.item-name').val();
            var value = $($item).find('.item-value').val();

            if (name.length == 0) {
                err.push({ element: $item, message: "Item must have a name "});
            }

            if (isNaN(value)) {
                err.push({ element: $item, message: "Item must have a value" });
            } else {
                if (Number(value) < 1) {
                    err.push({ element: $item, message: "Value must be a positive number" });
                }
            }
        });

        // check if there are any errors
        if (err.length > 0) {
            // show the errors
            err.forEach(function(error) {
                $(error.element).after("<p class='error'>" + error.message + "</p>");
            });
        } else {
            // submit the form
            $("form").submit();
        }
    }
</script>
