<% layout('../layout') -%>

<form id="form" action="/run/create" method="post">
    <div class="form-group">
        <label for="zone">Select a zone</label><br />
        <select class="form-control" name="zone" id="zone">
            <option value=''>select</option>
            <% zones.forEach(function(zone) { %>
                <option value='<%= zone.name %>'><%= zone.name %></option>
            <% }); %>
        </select>
    </div>

    <div class='days'>
        <% zones.forEach(function(zone) { %>
            <div class='<%= zone.name %>' style='display:none;'>
                <div class="form-group">
                    <label for="days">Select the days</label><br />
                <% zone.days.forEach(function(day) { %>
                    <label class="checkbox-inline">
                        <input name='days' class='<%= zone.name %>' type='checkbox' data-amount='<%= day.amount %>' value='<%= day.name %>|<%= day.amount %>'>
                            <%= day.name %>
                        </input>
                    </label>
                <% }); %>
                </div>
            </div>
        <% }); %>
    </div>
    <div class="form-group">
        <label for="users">Players</label><br />
        <input type='text' class="form-control" data-role="tagsinput" name='users' id="users" />
        <p class="help-block">Hit enter after typing a name to add it</p>
    </div>

    <div class="form-group">
        <label for="items">Items</label>
        <textarea name='items' class="form-control" id="items"></textarea>
        <p class="help-block">One item per line</p>
    </div>

    <button class='btn btn-info' onclick="validate(); return false;">continue</button>
</form>


<script type='text/javascript'>
var users = JSON.parse('<%- JSON.stringify(users) %>');

$("#zone").on('change', function() {
    var zone = $(this).val();
    $(".days>div").hide();

    if (zone.length > 0) {
        $("." + zone).show();
    }
});

function validate(){
    // init the variables
    var $zone = $("#zone")
      , zoneVal = $zone.val()
      , $daysWrapper = $(".days")
      , $days = $(".days input:checkbox:checked")
      , $users = $("#users")
      , $items = $("#items")
      , usersVal = $users.val()
      , itemsVal = $items.val()
      , err = [];

    // clear any previous errors
    $(".error").remove();

    // check that a zone is selected
    if (zoneVal.length == 0) {
        err.push({ element: $zone, message: "You must select a zone" });
    }

    // check that at least one day is selected
    if ($days.length == 0) {
        err.push({ element: $daysWrapper, message: "You must select one or more days" });
    }

    // check that there are users
    if (usersVal.length == 0) {
        err.push({ element: $users, message: "You must provide at least one player" });
    }

    // check if there are any errors
    if (err.length == 0) {
        // submit the form
        $("form").submit();
    } else {
        // show the errors
        err.forEach(function(error) {
            $(error.element).after("<p class='error'>" + error.message + "</p>");
        });
    }

    return false;
}
</script>
