<% layout('../layout') -%>

<h2><%= run.leader.name %>'s <%= run.zone %> run</h2>

<%
var i = 0;
%>
<h3>Players</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Player</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        <% run.points.forEach(function(point) {
            if (point.user) { %>
        <tr class='users'>
            <td>
                <%= point.user.name %>
            </td>
            <td>
                <%= point.amount %>
            </td>
        </tr>
        <%
            i++;
            }
        }); %>
    </tbody>
</table>
<%
i = 0;
%>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Item</th>
            <th>Value</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% run.items.forEach(function(item) { %>
            <tr class='items'>
                <td>
                    <%= item.name %>
                </td>
                <td>
                    <%= item.minimumBid %>
                </td>
                <td>
                    <% if (run.state == 0) { %>
                        <a href="/items/list/<%= item._id %>" class="btn btn-info">View</a>
                    <% } %>
                </td>
            </tr>
        <%
            i++;
        }); %>
    </tbody>
</table>

<% if (user.isAdmin || run.leader._id.equals(user.id)) { %>

    <a href="javascript:window.history.back();" class='btn btn-info'>Back to runs</a>
    <a href="/run/edit/<%=run._id%>" class='btn btn-info'>Edit run</a>

    <a href="/run/delete/<%=run._id%>" onclick='return confirm("Are you sure you want to delete this run?");' class='btn btn-danger pull-right'>Delete run</a>

<% } %>