<% layout('../layout') -%>

<h2><%= run.leader.name %>'s <%= run.zone %> run</h2>

<%
var i = 0;
%>
<h3>Players</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Player</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        <% run.points.forEach(function(point) {
            if (point.user) { %>
        <tr class='users'>
            <td>
                <%= point.user.name %>
            </td>
            <td>
                <%= point.amount %>
            </td>
        </tr>
        <%
            i++;
            }
        }); %>
    </tbody>
</table>
<%
i = 0;
%>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Item</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <% run.items.forEach(function(item) { %>
            <tr class='items'>
                <td>
                    <%= item.name %>
                </td>
                <td>
                    <%= item.minimumBid %>
                </td>
            </tr>
        <%
            i++;
        }); %>
    </tbody>
</table>
