<% layout('../layout') -%>

<% if (points) { %>
    <h3><%= entity.name %>'s points</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Zone</th>
            <th>Total <span class="small help-block">Available + Used</span></th>
            <th>Available <span class="small help-block">Total - Used</span></th>
            <th>Unapproved <span class="small help-block">Awaiting run approval</span></th>
            <th>Used <span class="small help-block">Sum of current bids</span></th>
            <th>Spent <span class="small help-block">Sum of spent points</span></th>
        </tr>
        </thead>
        <tbody>
        <% for (var zone in points) { %>
            <% if (points[zone]['total'] > 0 || points[zone]['unapproved'] > 0) { %>
            <tr>
                <td width="100"><%= zone %></td>
                <td width="100"><%= points[zone]['total'] %></td>
                <td width="100"><%= points[zone]['available'] %></td>
                <td width="100"><%= points[zone]['unapproved'] %></td>
                <td width="100"><%= points[zone]['used'] %></td>
                <td width="100"><%= points[zone]['spent'] %></td>
            </tr>
            <% } %>
        <% } %>
        </tbody>
    </table>
<% } %>

<% if (bids) { %>
    <h3><%= entity.name %>'s bids</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Item</th>
            <th>Current bid</th>
            <th>Minimum bid</th>
            <th>Ending</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        <% if (bids.length == 0) { %>
            <tr><td colspan="4"><p><%= entity.name %> has no current bids</p></td></tr>
        <% } %>

        <% bids.forEach(function(bid) { %>
        <tr>
            <td><%= bid.item.name %></td>
            <td><%= bid.amount %></td>
            <td><%= bid.item.minimumBid %></td>
            <td>
                <%= moment(bid.endDate).format("Do MMM HH:mm:ss") %><br />
                <%= moment(bid.endDate).fromNow() %>
            </td>
            <td>
                <a class='btn btn-info' href="/items/list/<%= bid.item._id %>">View</a>
            </td>
        </tr>
        <% }); %>

        </tbody>
    </table>
<% } %>

<a href="/users/list">&laquo; Back to all users</a>
