<% layout('../layout') -%>
<div class='container'>
    <h1>User detail</h1>

    <% if (points) { %>
        <h3><%= entity.name %>'s points</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Zone</th>
                <th>Available</th>
                <th>Unapproved</th>
                <th>Used</th>
            </tr>
            </thead>
            <tbody>
            <% for (var zone in points) { %>
                <tr>
                    <td width="100"><%= zone %></td>
                    <td width="100"><%= points[zone]['available'] %></td>
                    <td width="100"><%= points[zone]['unapproved'] %></td>
                    <td width="100"><%= points[zone]['used'] %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>

    <% if (bids) { %>
        <h3><%= entity.name %>'s bids</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Item</th>
                <th>Current bid</th>
                <th>Minimum bid</th>
                <th>Ending</th>
            </tr>
            </thead>
            <tbody>

            <% if (bids.length == 0) { %>
                <tr><td colspan="4"><p><%= entity.name %> has no current bids</p></td></tr>
            <% } %>

            <% bids.forEach(function(bid) { %>
            <tr>
                <td><%= bid.item.name %></td>
                <td><%= bid.amount %></td>
                <td><%= bid.item.minimumBid %></td>
                <td>
                    <%= moment(bid.endDate).format("Do MMM HH:mm:ss") %><br />
                    <%= moment(bid.endDate).fromNow() %>
                </td>
            </tr>
            <% }); %>
            
            </tbody>
        </table>
    <% } %>

    <a href="/users/list">&laquo; Back to all users</a>
</div>