<% layout('../layout') -%>

<h3>Admins</h3>
<table class='table table-hover'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% admins.forEach(function(entity) { %>
            <tr>
                <td><%= entity.name %></td>
                <td>
                <ul style='margin:0;padding:0;list-style:none;'>
                    <li style="float:left;"><a class="btn btn-info" href="/users/detail/<%=entity._id%>">View</a>&nbsp;</li>
                <% if (user.isAdmin) { %>
                    <li style="float:left;" class="dropdown">
                        <a href="#" class="dropdown-toggle btn btn-info" data-toggle="dropdown" role="button" aria-expanded="false">Actions <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Edit (TBC)</a></li>
                            <li class="divider"></li>
                            <li><a href="#" class='danger'>Delete</a></li>
                        </ul>
                    </li>
                <% } %>
                </ul>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<% if (gatekeepers.length > 0) { %>
<h3>Gate keepers</h3>
<table class='table table-hover'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% gatekeepers.forEach(function(entity) { %>
            <tr>
                <td><%= entity.name %></td>
                <td>
                <ul style='margin:0;padding:0;list-style:none;'>
                    <li style="float:left;"><a class="btn btn-info" href="/users/detail/<%=entity._id%>">View</a>&nbsp;</li>
                <% if (user.isAdmin) { %>
                    <li style="float:left;" class="dropdown">
                        <a href="#" class="dropdown-toggle btn btn-info" data-toggle="dropdown" role="button" aria-expanded="false">Actions <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Edit (TBC)</a></li>
                            <li><a href="#resetPassword" class="js-reset" data-toggle="modal" data-id='<%=entity._id%>'>Reset Password</a></li>
                            <li><a href="/users/lock/<%= entity._id %>">Lock</li>
                            <li class="divider"></li>
                            <li><a href="#" class='danger'>Delete</a></li>
                        </ul>
                    </li>
                <% } %>
                </ul>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>
<% } %>

<h3>Active users</h3>
<table class='table table-hover'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% normal.forEach(function(entity) { %>
            <tr>
                <td><%= entity.name %></td>
                <td>
                <ul style='margin:0;padding:0;list-style:none;'>
                    <li style="float:left;"><a class="btn btn-info" href="/users/detail/<%=entity._id%>">View</a>&nbsp;</li>
                <% if (user.isAdmin) { %>
                    <li style="float:left;" class="dropdown">
                        <a href="#" class="dropdown-toggle btn btn-info" data-toggle="dropdown" role="button" aria-expanded="false">Actions <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Edit (TBC)</a></li>
                            <li><a href="#resetPassword" class="js-reset" data-toggle="modal" data-id='<%=entity._id%>'>Reset Password</a></li>
                            <li><a href="/users/lock/<%= entity._id %>">Lock</li>
                            <li class="divider"></li>
                            <li><a href="#" class='danger'>Delete</a></li>
                        </ul>
                    </li>
                <% } %>
                </ul>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<h3>Locked users</h3>
<table class='table table-hover'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% disabled.forEach(function(entity) { %>
            <tr>
                <td><%= entity.name %></td>
                <td>
                <ul style='margin:0;padding:0;list-style:none;'>
                    <li style="float:left;"><a class="btn btn-info" href="/users/detail/<%=entity._id%>">View</a>&nbsp;</li>
                <% if (user.isAdmin) { %>
                    <li style="float:left;" class="dropdown">
                        <a href="#" class="dropdown-toggle btn btn-info" data-toggle="dropdown" role="button" aria-expanded="false">Actions <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Edit (TBC)</a></li>
                            <li><a href="#resetPassword" class="js-reset" data-toggle="modal" data-id='<%=entity._id%>'>Reset Password</a></li>
                            <li>
                                <a href="<%= entity.state !== 2 ? "/users/lock/" + entity._id : "/users/unlock/" + entity._id %>">
                                    <%= entity.state !== 2 ? "Lock" : "Unlock" %>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#" class='danger'>Delete</a></li>
                        </ul>
                    </li>
                <% } %>
                </ul>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<div id="resetPassword" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Reset Password</h4>
            </div>

            <div class="modal-body">
                <form method="post" class='js-reset-form'>
                    <div class='form-group'>
                        <label class='control-label' for='password'>New password</label>
                        <input class='form-control' id='password' name='newPassword' type='password' />
                    </div>

                    <div class='form-group'>
                        <label class="checkbox-inline">
                            <input name='userMustChange' type='checkbox' value='true'>
                                User must change password
                            </input>
                        </label>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info js-reset-password">Reset password</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function() {
    $(".js-reset").on('click', function() {
        var userId = $(this).data('id');

        $(".js-reset-form").attr('action', '/users/reset/' + userId);
    });

    $(".js-reset-password").on('click', function() {
        $(".js-reset-form").submit();
    });
});
</script>
